@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

body{
    color:white;
    font-family: Quantico;
}

.nameNum{
    width:180px;
    height:30px;
    border-radius:10px;
    border-color: #003A2C;
    border-width:2px;
    background-color: #185946;
    text-align:center;
}
.push{
    margin-left:160px;
}
.typeOne{
    width:100px;
    height:30px;
    border-radius:10px;
    border-color: #003A2C;
    border-width:2px;
    background-color: #185946;
    text-align: center;
    margin-left:30px;
}
.typeTwo{
    width:100px;
    height:30px;
    border-radius:10px;
    border-color: #003A2C;
    border-width:2px;
    background-color: #185946;
    text-align: center;
    margin-left:-25px;
}
.location{
    width:300px;
    height:30px;
    border-radius:10px;
    border-color: #003A2C;
    border-width:2px;
    background-color: #185946;
    text-align: center;
    margin-left:-465px;
    margin-top:50px;
}
.evolutions{
    width:500px;
    height:140px;
    border-radius:10px;
    border-color: #003A2C;
    border-width:2px;
    background-color: #185946;
    text-align: center;
    overflow-y: scroll;
}
.rndbtn{
    width:100px;
    height:30px;
    border-radius:10px;
    margin-left: 180px;
    margin-top:100px;
}
.btn{
    border-color: #003A2C;
    border-width:2px;
    background-color: #185946;
    text-align: center;
}
.subbtn{
    width:100px;
    height:30px;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    margin-left: -12px;
    margin-top:100px;
}
.btn:hover {
    background-color:#154d3c
}
.btn:active {
  background-color: #154d3c;
  box-shadow: 0 4px #45454563;
  transform: translateY(1px);
}
.inputField{
    border-radius:5px;
    width:300px;
    height:30px;
    color:rgb(172, 172, 172);
    margin-left:20px;
    margin-top:100px;
}
.innerSprites{
    align-items:center;
    justify-content: center;
}
.pokemonSprites{
    margin-top:115px;
    margin-left:220px;
}
.sprite{
    width:200px;
}
.inputRow{
    margin-left: 35%
}